#main{
margin-top: 0px;
margin-left: 30px;
}

#scrollbox{
position: absolute;
top: 350px;
left: 700px;
width: 100px;
background-color: #FF0000;
height: 100px;
}
	
#block{
margin: 10px auto 0px;
width: 800px;
background-color: #000000;
height: 1500px;
position: relative;
}

#block2{
margin: 0px auto;
width: 800px;
background-color: #FFFF00;
height: 1000px;
position: relative;
}
